---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Meu Blog de Astro";
---

<BaseLayout pageTitle={pageTitle}>
	<p>Aqui é onde vou postar sobre o meu aprendizado sobre o Astro</p>

	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
